/* nav sec*/
#navbar{
  flex-direction: column;  
}

#logo{
    margin: 1px 1px;
    
               }
               #logo img{
                   margin: 1px 1px;
                   height: 43px;
                   
               }
#navbar ul li a{
    font-size: 15px;
    padding: 2px 11px;
    color: rgb(15, 14, 15);
    font-style: bold;
    

}
/*home sec*/
#home{
height: 370px;
padding: 6px 68px;
}
#home::before{
    height: 480px;
    }
    #home p{
        font-size: 13px;
    }
/*services section*/

#services{
flex-direction: column;
}
#services.box
/*client section*/
#clients{
    
    flex-wrap: wrap;
    
}
#clients img{
    width: 20px;
    padding: 2px 6px;
    height: auto;
}
/*contact section*/
#contact{
    margin: auto;
     display: block;
     position: relative;
}
 #contact-box{
     padding-bottom: 14px;
     display: block;
     width: 80px;
     
 }
 #contact-box form{
     width: 300%;
 }
/*footer section*/

/*utitility*/
.h-primary{

    font-size: 25px;
}                   

.btn{
    font-size: 13px;
    padding: 4px 8px;
}